# Unsure what init is doing here
allow init app_data_file:dir setattr;

allow init firmware_file:dir mounton;
allow init fsg_file:dir mounton;
allow init system_file:dir mounton;
